<<<<<<< HEAD
.jenish{
    color: rgb(0, 38, 255);
    font-size: 40px;
    font-style: italic;
}
=======
.jenish {
  color: rgb(0, 38, 255);
  font-size: 50px;
  font-style: italic;
}
>>>>>>> ec9dcaa22368471f0da4e072b94927c0419297d4
